__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
*.egg-info/
dist/
build/

data/input_faces/*
!data/input_faces/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external_models/**/*
!data/external_models/**/.gitkeep
data/eyewear_catalog/eyewear_images/*
!data/eyewear_catalog/eyewear_images/.gitkeep
outputs/**/*
!outputs/**/.gitkeep
models/feature_extractors/**/*
!models/feature_extractors/**/.gitkeep
models/recommender/*
!models/recommender/.gitkeep
