.venv/
__pycache__/
*.py[cod]
.pytest_cache/

data/raw/*
!data/raw/README.md

data/processed/**
!data/processed/
!data/processed/train/
!data/processed/train/.gitkeep
!data/processed/val/
!data/processed/val/.gitkeep
!data/processed/test/
!data/processed/test/.gitkeep

data/sample_images/*
!data/sample_images/.gitkeep

artifacts/checkpoints/*
!artifacts/checkpoints/.gitkeep
artifacts/logs/*
!artifacts/logs/.gitkeep
artifacts/metrics/*
!artifacts/metrics/.gitkeep
artifacts/exported/*
!artifacts/exported/.gitkeep
